<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>登录</title>
    <link rel="stylesheet" href="../public/css/dl.css" />
  </head>
  <body>
    <img class="img" src="../public/img/2.jpg" alt="" />
    <div class="outer1" id="outer1">
      <div class="main1" id="main1">
        <div class="top_title">请使用你的账号密码登录系统</div>
        <form id="login_form" name="myform" method="post" action="/login">
          <div class="all_input">
            <input
              class="input1"
              name="account"
              type="text"
              placeholder="请输入账号"
            />
            <input
              class="input2"
              name="password"
              type="text"
              placeholder="请输入密码"
            />
          </div>
          <div class="re_password">
            <input type="checkbox" />
            <a href="">记住密码</a>
          </div>
          <div class="all_btn">
            <button type="submit" class="btn1">登录</button>
            <button type="button" class="btn2" id="btn2">
              注册
            </button>
          </div>
        </form>
        <div class="foot_word">
          Super-CQUPT-Supermarket-Management-System Designed By XZY
        </div>
      </div>
    </div>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <!-- <script src="../../Back-End/node_modules/jquery/dist/jquery.js"></script> -->
    <script>
      $("#login_form").on("submit", function (e) {
        e.preventDefault();
        var formData = $(this).serialize();
        // console.log(formData);
        $.ajax({
          url: "/login",
          type: "post",
          data: formData,
          dataType: "json",
          success: function (data) {
            // console.log(data);
            var err_code = data.err_code;
            // console.log(err_code);
            if (err_code === 0) {
              window.alert("登录成功");
              window.location.href = "/register";
            } else if (err_code === 1) {
              window.alert("姓名或者账号错误");
            } else if (err_code === 500) {
              window.alert("服务器忙，请稍后重试");
            }
          },
        });
      });
      var btn2 = document.getElementById('btn2')
      btn2.onclick=function(){
        window.location.href = "/register";
      }
    </script>
  </body>
</html>
